<section id="contact" class="py-16 md:py-20 lg:py-24 bg-grey-lightest">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center text-primary mb-4 font-secondary">
      Join Us!
    </h2>
    <p class="text-lg text-grey-dark max-w-3xl mx-auto mb-8 font-primary">
      Want to join our mailing list for updates or have a question? Get in
      touch! We'd love to hear from you.
    </p>
    <a
      href="mailto:info@galwayjamcircle.ie"
      class="px-8 py-3 bg-primary text-white font-bold rounded-full hover:opacity-90 transition duration-300 transform hover:scale-105 shadow-md"
      >Email Us</a
    >
  </div>
</section>